nav {
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insta {
    color: white;
    font-size: 50px;
}

.linked {
    color: white;
    font-size: 50px;
}

.github {
    color: white;
    font-size: 50px;
}

#contact i:active {
    color: #034001;
}

#contact i:hover {
    color: #03A63C;
    border-radius: 10%;
}

