.foto-perfil {
    max-width: 50vw;
    border-radius:  15%;
    margin: 20% 25% 10%;
  }
  
  .name h2, h1 {
    color: white;
    font-size: 45px;
    text-align: center;
    font-weight: 1000;
    margin: auto;
  }
  
  .name h1 {
    color: #03A63C;
    font-family: 'Poppins', sans-serif;
  }

  .name h4 {
    color: white;
    text-align: center;
  }
  
  .principal {
    width: 100%;
    background-color: black;
  }

  @media screen and (min-width: 1200px) {
    .foto-perfil {
        width: 30vw;
        margin: 8rem 12rem  5rem;
    }  
    .principal {
        display: flex;
        align-items: center;
        height: 100vh;
      }
      .name h2 {
        font-size: 7rem;
      }
      .name h1 {
          font-size: 9rem;
      }
  }

  @media screen and (min-width: 370px) and (max-width: 570px) {
      .name h1, h2 {
        font-size: 2.8rem;
        margin: auto;
      }
      .name h2 {
        font-size: 2.5rem;
      }
      .principal {
        height: 85vh;
      }
      .name h4 {
        font-size: 1.5rem;
      }
  };

  